<div>
  <mat-card class="text-center mat-elevation-z8">
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
     
      <mat-card-content>
          
          <form #f="ngForm">
           
            <div class="flex flex-col">

              <mat-form-field class="example-full-width py-2">
                <mat-label>Email</mat-label>
                <input name="email" type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="conta.email">            
              </mat-form-field>
              <mat-form-field class="example-full-width py-2">
                <mat-label>Senha</mat-label>
                <input name="senha" type="text" matInput placeholder="Ex. suaSenha"[(ngModel)]="conta.senha">            
              </mat-form-field>

            </div>  

          </form>
      
        </mat-card-content>
      
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="login()">Entrar</button>
          <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
      </mat-card-actions>

  </mat-card>
</div>

